.cardTripContainer {
    @apply transition-colors duration-75 hover:bg-mainBlue hover:bg-opacity-[20%] border-b border-black bg-white;
    @apply flex flex-col justify-between sm:flex-row;
}

.graphDotDot {
    @apply rounded-full w-7 h-7 flex justify-center text-2xl items-center sm:pb-[5px] pb-[0px] text-white bg-orangeGraph cursor-help;
}
