@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(49, 49, 49, 0.534);
    border-radius: 8px;
}

.formsBase {
    @apply py-10 px-7 w-[38rem] h-fit bg-white inset-1/2 -translate-y-1/2 -translate-x-1/2 absolute rounded-[5px] space-y-5 flex flex-col items-center;
}
